@model PlataformaBjj.Models.ViewModels.VideoItemVM
@using PlataformaBjj.Extensions
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-white-50">Editar Video</h2>
<br />

<form method="post" asp-action="Edit" enctype="multipart/form-data">
    <div class="backgroundWhite row">
        <input type="hidden" asp-for="VideoItem.Id" />

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="VideoItem.Title" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="VideoItem.Title" class="form-control" />
                </div>
                <span asp-validation-for="VideoItem.Title" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="VideoItem.Description" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    @Html.TextAreaFor(m => m.VideoItem.Description)
                </div>
                <span asp-validation-for="VideoItem.Description" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="VideoItem.URL" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="VideoItem.URL" class="form-control" />
                </div>
                <span asp-validation-for="VideoItem.URL" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="VideoItem.Image" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <input type="file" name="files" multiple class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="VideoItem.CategoryId" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <select asp-for="@Model.VideoItem.CategoryId" id="CategoryId" asp-items="Model.Category.ToSelectListItem(Model.VideoItem.CategoryId)" class="form-control"></select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="VideoItem.SubCategoryId" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <select asp-for="@Model.VideoItem.SubCategoryId" name="SubCategoryId" id="SubCategoryId" asp-items="@(new SelectList(string.Empty,"Id","Name"))" class="form-control"></select>
                </div>
            </div>


        </div>
        <div class="col-3 offset-1">
            <img src="@Model.VideoItem.Image" width="100%" style="border-radius:5px;border: 1px solid #bbb9b9;" />
        </div>

        <div class="col-8">
            <div class="col-8 offset-4">
                <input type="submit" value="Guardar" class="btn btn-danger" />
                <a asp-action="Index">Regresar</a>
            </div>
        </div>


    </div>
</form>

@section Scripts{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: "lists",
            menubar: 'file edit format'
        });
    </script>


    <script type="text/javascript">
        $(document).ready(function () {
            getSubCategory();
            $('#CategoryId').change(function () {
                getSubCategory();
            });
        });
        function getSubCategory() {
            var url = '@Url.Content("~/")' + "Admin/SubCategories/GetSubCategory";
            var ddlsoruce = '#CategoryId';
            $.getJSON(url, { id: $(ddlsoruce).val() }, function (data) {
                var items = '';
                $('#SubCategoryId').empty();
                $.each(data, function (i, subcategory) {
                    items += "<option value='" + subcategory.value + "'>" + subcategory.text + "</option>";
                });
                $('#SubCategoryId').html(items);
            })
        }
    </script>


    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}